@CHARSET "UTF-8";


.practiceLink 
{	
	
	/* color:#FF0000; */
	font-size: 19px;
	color:#045ca0;
}


.practiceLink a		 /* unvisited link */
{	
	font-size: 22px;
	color:#045ca0;
	text-decoration: none;
	/* color:#FF0000; */
}

.practiceLink a:link	 /* unvisited link */
{	

	/* color:#FF0000; */
	color:#045ca0;
	text-decoration:none;
}

.practiceLink a:visited   /* visited link */
{
	/* color:#00FF00; */
	font-size: 12px;
	color:#045ca0;
	text-decoration:none;
}

.practiceLink a:hover  /* mouse over link */
{
	/* color:#FF00FF; */
	color:#14355f;
	text-decoration:none;
}

.practiceLink a:active /* selected link */ 
{
	color:#0000FF;
	text-decoration:none;
}