@CHARSET "UTF-8";

/* CSS for module "practice".   
 * Testing ability to make CSS for a module, store the CSS as 
 * an asset, then include the asset CSS in the module layout file. 
 * This will allow for making a module with reusable CSS which 
 * can be added to any layout. 
 */

body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 12pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

.practiceModuleLink 
{	
	
	/* color:#FF0000; */
	font-size: 19px;
	color:#045ca0;
}


.practiceModuleLink a		 /* unvisited link */
{	
	font-size: 22px;
	color:#045ca0;
	text-decoration: none;
	/* color:#FF0000; */
}

.practiceModuleLink a:link	 /* unvisited link */
{	

	/* color:#FF0000; */
	color:#045ca0;
	text-decoration:none;
}

.practiceModuleLink a:visited   /* visited link */
{
	/* color:#00FF00; */
	font-size: 12px;
	color:#045ca0;
	text-decoration:none;
}

.practiceModuleLink a:hover  /* mouse over link */
{
	/* color:#FF00FF; */
	color:#14355f;
	text-decoration:none;
}

.practiceModuleLink a:active /* selected link */ 
{
	color:#0000FF;
	text-decoration:none;
}
